:root {
    --text: #1c1c1c;
    --white: #fff;
    --background: #fff8be;
    --accent: #d9c7ff;
    --accent1: #8D6752;
    --accent2: #AC6D4A;
    --warn: #FF0000;
    --good: #17C733;
    --placeholder: #ffffff80;
    --disabled: #000000CC;

    --active: drop-shadow(0px 0px 25px #00000040);
    --inactive: drop-shadow(0px 0px 50px #0000001a);

    --normal: 18px;
    --title: 'Noto Sans', sans-serif;
    --body: 'Noto Sans', sans-serif;
    --code: 'Roboto Mono', monospace;

    --pill: 69em;
    --almostpill: 1.5em;
    --h-navmain: 134px;
}


* {
	box-sizing: border-box;
	margin: 0;
	position: relative;

	color: var(--text);
	font-family: var(--body);
	font-size: var(--normal);

	transition: all .25s;
	transition-timing-function: var(--animation);
    scroll-behavior: smooth;
	scrollbar-width: thin;
	/* scrollbar-color: #cdcdcd #f0f0f0; */
}
*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-corner {
	background-color: #0000001f;
}
*::-webkit-scrollbar-thumb {
	background-color: #ffffff66;
	border: 0px solid #0000001f;
}
*::-webkit-scrollbar-thumb:hover {
	background-color: #ffffff42;
}
*::-webkit-scrollbar-thumb:active {
	background-color: #a5a3a342;
}

.noselect,
.material-icons {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.disabled {
	cursor: not-allowed;
	opacity: .5;
}

html, body, main, div#root {
    min-width: 100%;
    width: 100%;
    justify-content: flex-start;
}
html { background-color: var(--text); }
body { 
    max-width: 1920px;
    min-width: unset;
    margin: auto;
    background-color: var(--background);
}


h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    width: fit-content;
    font-family: var(--title);
}
h1, .h1 { font-size: 5em; }
h2, .h2 { font-size: 3.5em; }
h3, .h3 { font-size: 2.5em; }
h4, .h4 { font-size: 1.5em; }
h5, .h5 { font-size: 1.35em; }

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/* BUTTON */
button.forTab {
    padding: 0;
    background-color: transparent;
    margin: 0;
    border: none;
    text-decoration: underline;
}
button {
    padding: 1em 1.5em;
    margin: 0;
    border: none;
    border-radius: var(--almostpill);
    background-color: var(--accent);

    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25em;
}
button * {
    color: var(--text);
    /* opacity: .5; */
    /* cursor: not-allowed; */
}
button:hover:not(:disabled),
button:focus:not(:disabled) { transform: scale3d(1.05, 1.05, 1); }
button:active:not(:disabled) { transform: scale3d(.95, .95, 1); }
button:disabled { opacity: .5; }


/* MAIN NAV */
nav#main {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--h-navmain);
    max-width: 1912px;
    padding: 0 5em;
    padding-top: 2em;
    margin: auto;
    background-color: var(--background);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    z-index: 2;
}
nav#main .lhs, nav#main .rhs, nav#main ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.78rem;
}
nav#main ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
nav#main ul * {
    text-decoration: none;
    font-size: 1.15em;
    font-weight: bold;
}

/* LOGO */
div.logo {
    min-width: 2.78em;
    max-width: 2.78em;
    min-height: 2.78em;
    max-height: 2.78em;
    background-color: #d9c7ff;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
div.logo .bow {
    position: absolute;
    top: -20px;
    right: -5px;

    font-size: 32px;
    font-weight: bold;
}
div.logo .smile {
    padding-bottom: 8px;
    transform: rotate3d(0, 0, 1, 90deg);
    font-weight: bold;
}
div.logo-text {
    padding-bottom: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
div.logo-text span:first-of-type {
    font-size: 1.8rem;
    font-family: var(--code);
}

/* LITE MODE SWITCH */
.switch-container {
    width: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25em;
}
.switch {
    min-height: 1.8em;
    min-width: 3.8em;
    height: 1.8em;
    width: 3.8em;
    background-color: var(--text);
    border-radius: var(--pill);
    cursor: pointer;
}
.switch div { 
    position: absolute;
    top: .25em;
    left: .25em;
    min-width: 1.35em;
    min-height: 1.35em;
    width: 1.35em;
    height: 1.35em;
    background-color: var(--background);
    border-radius: var(--pill);
}
.switch .lite-mode-on { left: 2.2rem; }
.switch-container span { font-weight: bold; }


/* PAGE */
/* home */
main#home { 
    max-height: 100vh;
    overflow: auto;
    /* scroll-snap-type: y proximity;  */
}


/* VIEWS */
section {
    min-height: 100vh;
    padding: 0 5em;
    padding-top: calc(var(--h-navmain) + 2em);
    scroll-snap-align: start;
}

section.intro, 
section.intro .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}
.intro { padding-top: calc(var(--h-navmain) + 25vh); }
section.intro .title { padding-bottom: 2em; }
section.intro h1 { margin: auto; }
section.intro h1 span {
    font-size: inherit;
    font-weight: inherit;
    font-style: italic;
}


/* HOWIW */
.howiw {
    width: 100%;
    background-color: var(--text);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.howiw span.h4 {
    font-weight: bold;
    padding-bottom: .5em;
}
.howiw .controls {
    display: flex;
    flex-direction: row;
    gap: 1.25em;
}
.howiw .main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -35%, 0);

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3em;
}
.howiw .summary * { color: var(--white); }
.howiw .controls * { color: var(--text); }
.howiw .summary {
    width: 34.5ch;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2em;
}
.howiw .summary ul { padding-left: 2em; }
.howiw .diagram div {    
    width: calc(100% - 1em);
    height: fit-content;
    padding: 10px;
    padding-top: 5px;
    margin-left: 1em;
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5em;
}
.howiw .diagram .true {
    max-height: 0px !important;
    padding: 0px 10px !important;
    overflow: hidden !important;
}
.howiw .diagram .html {
    min-width: 22.5em;
    min-height: 25em;
    max-width: 22.5em;
    max-height: 25em;
    background-color: rgb(191, 255, 213);
    border: solid var(--text) 1px;
    overflow-y: scroll;
}
.howiw .diagram .html.scroll-true { 
    padding-right: 16px;
    overflow: hidden !important; 
}
.howiw .diagram .section { min-height: 8em; }
.howiw .diagram .button { 
    padding-bottom: 5px;
    flex-grow: 0;
}


.examples, .install {
    height: fit-content;
    min-height: unset;
    padding-bottom: 5em;

    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.card-container {
    padding: 1em 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.card .title, .card .desc * { color: var(--white); }
.card {
    height: 22em;
    padding: 2.5em;
    background-color: var(--text);
    
    border-radius: var(--almostpill);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}
.card .desc {
    margin-bottom: 1em;
    flex-grow: 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: .5em;
}
.card .samples {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}
.inputs {    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}
.inputs input {
    width: 100%;
    padding: 0.5em 1.5em;
    border: solid 1px var(--accent);
    border-radius: var(--almostpill);
    flex-shrink: 1;
    font-size: 1em;
}
#custom-bg1 {
    width: 85vw;
    height: 85vh;
    background-color: #2369df80;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#custom-close1 {
    width: 2em;
    height: 2em;
    background-color: #ac1a1a;

    color: var(--white);
    font-weight: bold;

    position: absolute;
    top: -3em;
    right: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Installation */
.install * { color: var(--white); }
.install {
    width: 100%;
    background-color: var(--text);
}


/* DIALOG */
div[role="dialog"] {
    width: 50vw;
    height: 50vh;
    background-color: var(--white);
    border-radius: 4px;
}
div[role="dialog"], div[role="dialog"] .container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
div[role="dialog"] .container {
    padding: 4em; 
    overflow-y: auto; 
}

/* NOTE */
.note { 
    width: 100%;
    max-width: 100%;
    padding: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    border: 1px solid var(--text);
    border-radius: 0.5rem;
}
.note .icon-container { 
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.note .material-icons { font-size: 1.5rem; }
.note .body { 
    width: calc(100% - 2rem);
    padding-left: .5rem;
    border-left: 1px solid var(--background);
    overflow: hidden;
    
    gap: 1em;
    display: flex;
    flex-direction: column;
}

/* HIGHER ORDER */
.forTab { opacity: 0; }
.forTab:focus { opacity: 1; }